---
title: About CryptPad
description: About CryptPad
layout: layouts/main

---


<section>
    <h1>About CryptPad</h1>

    <section id="a-full-suite">
        <div class="wrapper">
            <div class="item">
                <img srcset="/images/app_previews_small.png 1650w,
                    /images/app_previews_small@2x.png 825w"
                sizes="(min-width: 800px) 1650px,
                    825px"
                src="/images/app_previews_small.png?ver{{cache.buster}}" alt="screenshots of 7 cryptpad applications stacked onto each other"/>
            </div>
            <div class="text item">
                <h2 class="left-aligned">A full suite of applications</h2>
                <p>CryptPad provides a full-fledged office suite with all the tools necessary for productive collaboration. Applications include: Rich Text, Spreadsheets, Code/Markdown, Kanban, Slides, Whiteboard and Forms.</p>
            </div>
        </div>
    </section>

    <section id="e2ee">
        <div class="wrapper">
            <div class="text item">
                <h2 class="left-aligned">End-to-end encrypted</h2>
                <p>All data on CryptPad is encrypted in the browser. This means no readable data leaves the user's device. Even the service administrators cannot see the content of documents or user data.</p>
            </div>
            <div class="item">
                <img src="/images/shredder.png?ver{{cache.buster}}" alt="Illustration showing two paper shredders destroying and reconstructing a sheet of paper."/>
            </div>
        </div>
    </section>

    <section id="collab">
        <div class="wrapper">
            <div class="item">
                <img src="/images/collaboration.png?ver{{cache.buster}}" alt="Illustration of three people collaborating on a document. They can see the document but the server connecting them only sees random letters and digits"/>
            </div>
            <div class="text item">
                <h2 class="left-aligned">Private Collaboration</h2>
                <p>CryptPad is built to enable collaboration with features such as team drives, calendar, and sharing. It synchronizes changes to documents in real time. Because all data is encrypted, the service and its administrators have no way of seeing the content being edited and stored. </p>
            </div>
        </div>
    </section>

    <section id="open-source">
        <div class="wrapper">
            <div class="text item">
                <h2 class="left-aligned">Fully open-source</h2>
                <p>CryptPad is free software. Anyone can host the platform in a personal or professional capacity. The development team offers subscriptions and support contracts for ready-to-use deployments.</p>
            </div>
            <div class="item">
                <img src="/images/AGPLv3_Logo-smaller.svg" alt="AGPL-3 license logo" />
            </div>
            <!--<div class="item"></div> -->
        </div>
    </section>

    <section>
        <div class="wrapper">
            <div class="item small-logos">
                <h3 class="left-aligned">Supported by:</h3>
                <a href="https://www.ngi.eu/">
                    <img class="cp-img-invert" src="/images/logo_ngi.png?ver=4.14.1-00" alt="NGI Award 2019">
                </a>
                <a href="https://nlnet.nl">
                    <img class="cp-img-invert" src="/images/logo_nlnet.svg?ver=4.14.1-00" alt="NLnet Foundation logo">
                </a>
                <a href="https://bpifrance.com">
                    <img src="/images/logo_bpifrance.svg?ver=4.14.1-00" alt="BPI France logo">
                </a>
                <a href="https://www.mozilla.org/en-US/moss/">
                    <img width="140px" src="/images/logo_moss.jpg?ver=4.14.1-00" alt="Mozilla Open Source Support logo">
                </a>
                <a href="https://www.ngi.eu/ngi-projects/ngi-trust/">
                    <img src="/images/logo_ngi_trust.png?ver=4.14.1-00" alt="NGI Trust logo">
                </a>
                <a href="https://dapsi.ngi.eu/">
                    <img src="/images/logo_ngi_dapsi.png?ver=4.14.1-00" alt="NGI DAPSI LOGO">
                </a>
            </div>
            <div class="item">
                <h2 class="left-aligned">Public Money = Public code</h2>
                <p>CryptPad has been supported since 2016 by French and European research grants such as BPI France, NLNet Foundation, NGI Trust, Mozilla Open Source Support. We believe that public money should fund public code, so the service is fully open source. This means anyone can use, host, and modify the software.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="item">
                <h2 class="left-aligned">Funded by and for users</h2>
                <p>Unlike other platforms, CryptPad does not offer "free" services to sell user-data and cash-out for its investors. Our current goal is to be fully funded by users through subscriptions and donations. There are no investors waiting to profit from user data (it's encrypted anyway), and no "exit strategy" since all the code is already in the public domain.</p>
                <p>To keep CryptPad in development and free for everyone, you can <a href="/pricing/">subscribe</a>, <a href="https://opencollective.com/cryptpad/contribute">donate</a>, or <a href="https://docs.cryptpad.fr/en/how_to_contribute.html">contribute</a>.</p>
            </div>
            <div class="item">
                <img src="/images/funding_pie_chart.svg" alt="Funding pie chart: 25% subscriptions, 8% donations, 67% subsidies and funding">
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="item">
                <h2 class="left-aligned">Made at XWiki</h2>
                <a href="https://xwiki.com"><img width="130px" src="/images/logo_XWiki.svg" alt="XWiki logo"></a>
                <p>CryptPad is made at XWiki, a company based in Paris, France that has been making open-source software for over 15 years.</p>
            </div>
            <div class="item align-center">
            </div>
        </div>
    </section>


</section>