---
title: CryptPad Cloud Demo
description: Test drive your own CryptPad instance
layout: layouts/main
---

<section>
  <h1>Demo Instance</h1>
  <p>Test drive the end-to-end encrypted office suite</p>
</section>

<section>
  <div class="form-container">
    <h3>Your CryptPad Cloud URL</h3>
    <section class="hero" id="instanceName">
      <div class="url-container" id="urlContainer">
        <div class="url-prefix-box">https://</div>
        <div class="input-sizer">
          <input type="text" class="url-input " id="subdomain" onInput="this.parentNode.dataset.value = this.value" size="12" placeholder="demoname">
        </div>
        <div class="url-suffix-box">.cryptpad.cloud</div>
        <div class="status-icon" id="statusIcon">
          <i class="fa fa-spinner fa-spin" id="spinner" style="display:none;"></i>
          <i class="fa fa-check" id="checkmark" style="display:none;"></i>
        </div>
      </div>
    </section>

    <section class="form">
      <p>Please, tell us more about yourself so we can customize your testing instance.</p>
      <form id="demoForm">
        <div class="form-row">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName" required placeholder="Your first name">
          </div>
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" id="lastName" name="lastName" required placeholder="Your last name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required placeholder="Your phone number">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="yourname@company.com">
          </div>
        </div>
        <div class="form-group">
          <label for="organization">Organization</label>
          <input type="text" id="organization" name="organization" required placeholder="The name of your organization">
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="deployment">For what type of deployment are you testing?</label>
            <select id="deployment" name="deployment" placeholder="Choose type of deployment">
              <option value="on-premise">On-Premise</option>
              <option value="cloud">Cloud</option>
            </select>
          </div>
          <div class="form-group">
            <label for="teamSize">What is the size of your team?</label>
            <select id="teamSize" name="teamSize" placeholder="Choose team size">
              <option value="1-10">1-10</option>
              <option value="11-50">11-50</option>
              <option value="51-200">51-200</option>
              <option value="200+">200+</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="solution">What type of solution are you interested in?</label>
          <select id="solution" name="solution" placeholder="Choose solution type">
            <option value="document-editing">Document Editing</option>
            <option value="real-time-collaboration">Real-time Collaboration</option>
            <option value="secure-file-sharing">Secure File Sharing</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="problem">What problem are you expecting CryptPad to help you with?</label>
          <textarea id="problem" name="problem" rows="4" maxlength="500" placeholder="Describe here your problem max: 500 characters"></textarea>
        </div>
        <p>
          After creating your testing instance we send you a few onboarding communications to help you make the most of your CryptPad instance.
          By filling you data, checking the communication options above and by clicking on <b>Create</b> you agree with our <a href="https://xwiki.com/en/company/PrivacyPolicy">Privacy Policy [EN] </a>.
        </p>
        <section>
          <div class="error-container" id="submitButtonError"></div>
          <button type="submit" class="btn primary" id="submitBtn">Create</button>
          {# XXX check exact timing and wording #}
          <p class="validate-account"><i class="fa fa-warning"></i> Once you create your demo instance you will receive an email to validate your account. Please validate within 4 hours to keep your demo for an additional 7 days.</p>
          <div class="XWiki-signature">
            <a href="https://xwiki.com" target="_blank">
              <img src="/images/logo_XWiki.svg" alt="XWiki Logo">
              <span>CryptPad Cloud is provided by XWiki SAS</span>
            </a>
          </div>
        </section>
      </form>
    </section>
  </div>
</section>

<script src="/scripts/demo.js?ver={{cache.buster}}"></script>
