---
title: Contact
description: Contact us for 
layout: layouts/main
---

<!-- Include the Less.js library -->
<script src="node_modules/less/dist/less.min.js"></script>

<link rel="stylesheet" type="text/css" href="/_styles/contact.less" />

<section class="Contact">

    <section id="preamble">
        <div>
            <h1>Contact us</h1>
            <p>CryptPad is developed by <a href="https://xwiki.com">XWiki SAS</a>, a French software company that has been producing open-source code since 2004. We are open to collaboration, here are some ways you can contact us:</p>
        </div>
    </section>

    <section id="email" class="card" >
        <a href="mailto:support@cryptpad.fr">
            <div class="card-body">
                <p><i class="fa fa-envelope-o"></i> Email</p>
            </div>
        </a>
    </section>

    <section id="chat" class="card">
        <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com">
            <div class="card-body">
                <p><i class="fa fa-comment"></i>Chat</p>
            </div>
        </a>
    </section>

    <section id="mastodon" class="card">
        <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com">
            <div class="card-body">
                <p><img src="https://cryptpad.fr/customize/images/mastodon.svg" alt="" aria-hidden="true"  style="margin-left: 25px;"> Mastodon</p>
            </div>
        </a>
    </section>

    <section id="github" class="card">
        <a href="https://github.com/cryptpad/cryptpad">
            <div class="card-body">
                <p><img src="https://cryptpad.fr/customize/images/github.svg" alt="" aria-hidden="true">Github</p>
            </div>
        </a>
    </section>

    <section id="twitter" class="card">
        <a href="https://twitter.com/cryptpad">
            <div class="card-body">
                <p><img src="https://cryptpad.fr/customize/images/twiitter.svg" alt="" aria-hidden="true">Twitter</p>
            </div>
        </a>
    </section>
    <section id="support" class="card">
        <a href="https://cryptpad.fr/support/#tickets">
            <div class="card-body">
                <p><img src="https://cryptpad.fr/customize/images/support.svg" alt="" aria-hidden="true">Support</p>
            </div>
        </a>
    </section>

</section>
