---
title: Contact
description: Contact the CryptPad development team
layout: layouts/main
---

<!-- Include the Less.js library -->
<script src="node_modules/less/dist/less.min.js"></script>

<link rel="stylesheet" type="text/css" href="/_styles/contact.less" />

<section id="contact-preamble">
    <div>
        <h1>Contact us</h1>
        <p>CryptPad is developed by <a href="https://xwiki.com">XWiki SAS</a>, a French software company that has been producing open-source code since 2004. We are available for feedback and collaborations through the following channels:</p>
    </div>
</section>

<section id="contact-cards" class="card-container">

    <a href="mailto:contact@cryptpad.org" class="card">
        <div class="card-body">
            <p><i aria-hidden="true" class="fa fa-envelope-o"></i> Email</p>
        </div>
    </a>

    <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com" class="card">
        <div class="card-body">
            <p><i aria-hidden="true" class="fa fa-comment"></i>Chat</p>
        </div>
    </a>

    <a href="https://social.xwiki.com/@CryptPad" class="card">
        <div class="card-body">
            <p><i aria-hidden="true" class="fa fa-mastodon"></i>Mastodon</p>
        </div>
    </a>

    <a href="https://github.com/cryptpad" class="card">
        <div class="card-body">
            <p><i aria-hidden="true" class="fa fa-github"></i>Github</p>
        </div>
    </a>

    <a href="https://forum.cryptpad.org/" class="card">
        <div class="card-body">
            <p><i aria-hidden="true" class="fa fa-bullhorn"></i>Forum</p>
        </div>
    </a>

</section>

