---
title: Contact
description: Contact us for 
layout: layouts/main
---

<!-- Include the Less.js library -->
<script src="node_modules/less/dist/less.min.js"></script>

<link rel="stylesheet" type="text/css" href="/_styles/contact.less" />

<section class="Contact">

    <section id="preamble">
        <div>
            <h1>Contact us</h1>
            <p>CryptPad is developed by <a href="https://xwiki.com">XWiki SAS</a>, a French software company that has been producing open-source code since 2004. We are open to collaboration, here are some ways you can contact us:</p>
        </div>
    </section>

    <section id="cards" class="card-container">

        <a href="mailto:support@cryptpad.fr" class="card">
            <div class="card-body">
                <p><i class="fa fa-envelope-o"></i> Email</p>
            </div>
        </a>

        <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com" class="card">
            <div class="card-body">
                <p><i class="fa fa-comment"></i>Chat</p>
            </div>
        </a>

        <a href="https://fosstodon.org/@cryptpad" class="card">
            <div class="card-body">
               <p><i class="fa fa-mastodon"></i>Mastodon</p>
            </div>
        </a>

        <a href="https://github.com/cryptpad/cryptpad" class="card">
            <div class="card-body">
                <p><i class="fa fa-github"></i>Github</p>
            </div>
        </a>

        <a href="https://twitter.com/cryptpad" class="card">
            <div class="card-body">
                <p><i class="fa fa-twitter"></i>Twitter</p>
            </div>
        </a>

        <a href="https://cryptpad.fr/support/#tickets" class="card">
            <div class="card-body">
                <p><i class="fa fa-support"></i>Support</p>
            </div>
        </a>

    </section>

</section>
