---
layout: layouts/main
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptPad | {{ title }}</title>
    <h1>Demo Instance</h1>
    <h3>Test drive the end-to-end encrypted office suite</h3>
    <link rel="stylesheet" href="_styles/loading.css">
    <script src="/scripts/loading.js?ver={{cache.buster}}"></script>
</head>
<body>
<header>
    <div class="logo">
    </div>
   
</header>

<main>
    <div class="container">
        <div class="row">
            <h2>Setting up your CryptPad instance...</h2>
            <div class="loading-bar-container">
            <div class="loading-bar"></div>
            <div class="progress-indicator">0%</div>
            </div>
        </div>
        <div class="row">
            <div class="image-container">
                <a href="/about/#a-full-suite" aria-label="click to read more">
                    <div class="image-holder">
                    <img src="/images/full-suite.svg" alt="full-suite-image">
                    <h4 class="text-center"> Full suite of apps</h4>
                    <p class="description-text">Full suite of apps</p>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="/about/#e2ee" aria-label="click to read more">
                    <div class="image-holder">
                    <img src="/images/e2ee-shredder.svg" alt="shredder-image">
                    <h4 class="text-center">End-to-end encrypted</h4>
                    <p>End-to-end encrypted</p>
                    </div>
                </a>
            </div>
            <div class="image-container">
                <a href="/about/#collab" aria-label="click to read more">
                    <div class="image-holder">
                    <img src="/images/collab.svg" alt="collab">
                    <h4 class="text-center">Real-time editing and collaborating</h4>
                    <p>Real-time editing and collaborating</p>
                    </div>
                </a>
            </div>
             <div class="image-container">
                <a href="https://xwiki.com/en/try-xwiki/" aria-label="click to read more">
                    <div class="image-holder">
                    <img src="/images/logo_XWiki.svg" alt="XWiki">
                    <h4 class="text-center">XWiki product</h4>
                    <p>Meets the quality standards of XWiki</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
