---
title: CryptPad Cloud Demo Loading
description: We are preparing you own CryptPad instance
layout: layouts/main
---
<section>
  <h1>Demo Instance</h1>
  <p>Test drive the end-to-end encrypted office suite</p>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2>Setting up your CryptPad instance...</h2>
            <div class="loading-bar-container">
            <div class="loading-bar"></div>
            <div class="progress-indicator">0%</div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/loading.js?ver={{cache.buster}}"></script>