---
layout: layouts/main
permalink: error.html
---


<section class="full">
    <h1>Error</h1>
    <h2>404 - Page not found</h2>
    <p style="text-align: center;"><a href="/">Take me home</a></p>
</section>