---
layout: layouts/main
---

<section id="intro">
    <div class="hero-text">
        <h1>Collaboration and privacy</h1>
        <p>Yes, you can have both</p>
    </div>

    <div class="hero-img">
        <img class="screenshot" src="/images/drive-preview-sandpaper.png" alt="cryptdrive with some folders and documents">

    </div>
</section>

<section id="try-cryptpad">
    <p>CryptPad is a collaborative office suite that is end-to-end encrypted and open-source.</p>
    <a class="fake-button" href="/instances/">Try CryptPad <i class="fa fa-arrow-right"></i></a>
</section>

<section id="a-full-suite">
    <h2>A full suite of applications</h2>

    <div class="wrapper">
        <div class="item">
            <img srcset="/images/app_previews_small.png 1650w,
                /images/app_previews_small@2x.png 825w"
            sizes="(min-width: 800px) 1650px,
                825px"
            src="/images/app_previews_small.png" alt="screenshots of 7 cryptpad applications stacked onto each other"/>
        </div>
        <div class="text item">
            <p>CryptPad includes all the tools needed for productive collaboration: spreadsheet, text, presentation, form, kanban, whiteboard, and more...</p>
        </div>
    </div>
</section>

<section id="e2ee">
    <h2>End-to-end encrypted</h2>

    <div class="wrapper">
        <div class="text item">
            <p>All data on CryptPad is encrypted in the browser. This means no readable data leaves the user's device. Even the service administrators cannot see the content of documents or user data.</p>
        </div>
        <div class="item">
            <img src="/images/shredder.png" alt="Illustration showing two paper shredders destroying and reconstructing a sheet of paper."/>
        </div>
    </div>
</section>

<section id="open-source">
    <h2>Fully open-source</h2>
    <div class="wrapper">
        <div class="item">
            <img src="/images/AGPLv3_Logo-smaller.svg" alt="AGPL-3 license logo" />
        </div>
        <!--<div class="item"></div> -->
        <div class="text item">
            <p>CryptPad is free software. Anyone can host the platform in a personal or professional capacity. The development team offers subscriptions and support contracts for ready-to-use deployments.</p>
        </div>
    </div>
</section>