---
title: Jobs
description: Join our team
layout: layouts/main
jobs:
  - title: Internship in Security and Privacy
    slug: pqc-internship
    detailedOffers:
    - title: Access Control in CryptPad
      url: https://cryptpad.fr/pad/#/2/pad/view/edTpjKFfd75EtRa05uOL6wWNJscWKG+CPbjWMYlgTLQ/embed/
    - title: Post-Quantum integration in CryptPad
      url: https://cryptpad.fr/pad/#/2/pad/view/84oHc6JCTcPqtwkXfZI4qZL6lvYqjlc3HTFeCPURARI/embed/
    role: "For master students in cryptography or cybersecurity, CryptPad opens one internship role in one of the following two topics: “Access Control in CryptPad” or ”Post-Quantum integration in CryptPad” for a duration of four to six months. The internship will cover the following topics:"
    tasks:
    - Advanced cryptography;
    - Web development/web applications in vanilla javascript and/or typescript;
    - Complexity and performance analyses;
    - Open-source software development.
  - title: All roles are currently filled
    slug: no-roles
    role: We are not actively interviewing at the moment for full time positions, but we may do so again in the future. Please send us your details to be considered for future roles, especially if you work in the following areas
    tasks:
        - Accessibility (WCAG compliance)
        - Cryptography applied to web-applications
        - Web development for privacy

---

<section class="jobs">
    <h1>Jobs</h1>
    <section id="preamble">
        <p>CryptPad is developed by <a href="https://xwiki.com">XWiki SAS</a>, a French software company that has been producing open-source code since 2004. We are currently looking to hire for several new roles on our team.</p>
        <p class="align-center">
            <a href="#roles" class="btn">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                Skip to open roles
            </a>
        </p>
    </section>
    <section id="perks">
        <h2>Perks</h2>
        <p>We strive to provide an environment that is conducive to a good work/life balance. This includes:
            <ul>
                <li>7 hour work day</li>
                <li>25 vacation days per year (in addition to French statutory holidays)</li>
                <li>4.5 day work week</li>
            </ul>
        </p>
        <p>We have offices in Paris, France and Iaşi, Romania with subsidies for public transit or cycling. For those who prefer partial or fully remote work, a monthly budget for home office accommodations is available.</p>
        <p>As a small company, we aim to help our team members grow. We provide opportunities for training and acquiring new skills, and we prefer to promote existing team members into leadership roles.</p>
        <p>Our work is public research. There are opportunities to travel to conferences and/or publish papers if you wish to do so.</p>
    </section>
    <section id="limitations">
        <h2>Limitations</h2>
        <p>A portion of our funding comes from European and French grants. Funding from these sources can only be spent on salaries in the relevant jurisdiction. For this reason we will prefer candidates from France or other European Union member states.</p>
        <p>We are able to provide support for immigration to very promising candidates from beyond the EU.</p>
    </section>
    <section id="traits">
        <h2>What we look for</h2>
        <p>Our current team primarily works remotely with flexible working hours. Since we work across several timezones we expect new team members to be able to manage their time well according to whatever schedule makes them the most productive. We avoid micro-managing and working overtime.</p>
        <p>Qualities we value in a candidate include:</p>

        <ul>
            <li>Experience/interest in digital privacy issues</li>
            <li>Experience/interest in web-browser technologies</li>
            <li>Familiarity with open-source software practices and communities</li>
            <li>Good communication skills</li>
            <li>English fluency, one additional spoken/written language preferred</li>
            <li>Nice to have: PhD graduate in a related field</li>
        </ul>
    </section>
    <section id="applying">
        <h2>How to apply</h2>
        <p>Send an email to <a href="mailto:jobs@xwiki.com">jobs@xwiki.com</a> with a CV attached and a brief introduction. Please include links to any relevant projects, profiles, code repositories, or contributions to open-source projects if applicable. Finally, please include the job title in the subject line so we don't miss it.</p>
    </section>
    <main id="roles">
        <h2>Roles</h2>
        <section>
            <p>The following roles are intended mostly as examples of what responsibilities need to be filled. Don't hesitate to apply if you don't fit neatly into one of these categories. In practice we often do multiple things.</p>
            <p>We are interested in incorporating skills we don’t already have, so don’t panic if you’re unfamiliar with anything listed below.</p>
        </section>
        <div class="role-list">
            {% for job in jobs %}
                <section id={{ job.slug }} class="role">
                    <h3>{{ job.title }}</h3>
                    <p>{{ job.role }}</p>
                    <ul>
                        {% for task in job.tasks %}
                            <li>{{ task }}</li>
                        {% endfor %}
                    </ul>
                    {% if job.detailedOffers %}
                    <p>More information:</p>
                    <ul>
                        {% for info in job.detailedOffers %}
                        <li><a href="{{info.url}}">{{info.title}}</a></li>
                        {% endfor%}
                        </ul>
                    {% endif %}
                    {% if job.salary %}
                        <p>Salary range: {{job.salary}}</p>
                    {% endif %}
                </section>
            {% endfor %}
            <section id="xwiki" class="role">
                <h3>more jobs at XWiki</h3>
                <p>Our parent company XWiki is also hiring, please check <a href="https://xwiki.com/en/company/jobs">their jobs page</a> for more information</p>
            </section>
        </div>
    </main>
</section>
