---
layout: layouts/main
title: Testimonials
description: We asked users what they love about CryptPad
---

<section>
    <h1>{{ title }}</h1>
    <p>We asked users what they love about CryptPad, this is what they answered.</p>
    <p><a href="{{ site.testimonial_survey }}">Submit a testimonial</a></p>
</section>

<h2>{{ testimonials.responses | length }} testimonials</h2>

{% for testimonial in testimonials.responses %}
    <div class="card">
        <p>
            {{ testimonial.q1 }}<br>
            {% if testimonial.q2 %}
                {{ testimonial.q2 }}
                {% else %}
                *****
            {% endif %}
            {% if testimonial.q5 %}
            - {{ testimonial.q5 }}
            {% endif %}<br>
            sector: {{ testimonial.sector }}
        </p>
    </div>
{% endfor %}