
.Contact {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

#preamble {
    margin-bottom: 2rem;
}

.card {
    .shadow(); 
    display:flex;
    border-radius: @radius_L;
    width: 150px;
    height: 100px;
    margin: 1rem;
    background-color: @cryptpad_color_white;
    justify-content: center;
    align-items: center;
    &:hover {
        color: @cryptpad_color_white;
        background-color: @cryptpad_color_brand_300;
        }
    p{
        color: @cryptpad_color_brand;
        margin: 0;

    }
    img {
        width: 40px;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 5px;
        display: flex;
        }

    i{   
        font-size: 2em;
        margin-right:1em;
        margin-left: 1em;
        margin-bottom: 5px;
     }
    a {
        text-decoration: none; 
    }
}


