
.form {
  padding: 20px;
  border-radius: @radius_L;
  margin-bottom: 10rem;
}

section p{
 font-size: 2rem;
}

.url-container {
  display: flex;
  align-items: center;
  border: 1px solid @cryptpad_color_grey_300;
  background-color: @cryptpad_color_grey_250;
  border-radius: @radius;
  padding: 10px;
  width: 50rem;
  margin: 0 auto;
}

.url-prefix-box,
.url-suffix-box {
  background-color: @cryptpad_color_grey_250;
  padding: 5px 10px;
  border-radius: @radius;
  font-size: 2rem;
}

.url-input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  font-size: 16px;
}

.form-card {
  background-color: @cryptpad_color_white;
  padding: 20px;
  border-radius: @radius_L;
  box-shadow: 0 0 10px @cryptpad_color_grey_950;
}

.card-body {
  padding: 0;
}

.checkbox-group label {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}

.form-group input::placeholder,
.form-group select::placeholder,
.form-group textarea::placeholder {
  color: @cryptpad_color_grey_500;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid @cryptpad_color_grey_300;
  border-radius: 3px;
  box-sizing: border-box;
}
.section form h2{
  color: inherit;
}

.form-group textarea {
  height: 100px;
}

.validate-account{
  img{
    width: 4rem;
    position: absolute;
    left: .5rem;
  }

  text-align: center;
  border: 1px solid @cryptpad_color_grey_800;
  padding: 1rem 1rem 1rem 5rem;
  position: relative;
  margin: 1.5rem auto 3.4rem auto;
  max-width: 32rem;
}
