nav {
    padding: 1em;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        margin-left: 0.5em;
    }

    .logo {
        a {
            display: inline-block;
        }
        img {
            width: 250px;
        }
    }
}

@media screen and (max-width: @breakpoint) { 
    #navMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10rem;
        right: 5rem; 
        background-color: white; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        height: 220px;
        width: 220px;
        font-size: 16px;
        border-radius: @radius_L;

        ul {
            list-style: none;
            padding-left: 0 !important;
            margin: 10px 0;
        }
    
        ul li {
            padding: 10px 0;
            list-style: none;
        }
    }
    .navButtons {
        display: none;
    }
    .hamburger {
        position: absolute;
        top: 5rem;
        right: 5rem;
        padding: 0 5px 4px;
        z-index: 12;
        width: 30px;
        font-size: 3.5em;
    }

    .fa
    {
        padding-bottom: 5px;
    }
    #hamburger.i{
        font-size: 1.3em;
    }
}

@media screen and (min-width: @breakpoint) {
    #navMenu{
        display: none;
    }
    .navButtons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: static;
        background-color: transparent;
        box-shadow: none;
        height: auto;
        width: auto;
        font-size: inherit;

        ul {
            display: flex;
        }
    
        ul li {
            padding: 0 2px;
            list-style: none;
        }
    }

    .hamburger {
        display: none;
    }

}
