nav {
    padding: 1em;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        a {
            display: inline-block;
        }
        img {
            width: 250px;
        }
    }
}

body.about nav {
    a.btn[href="/about/"] {
        display: none;
    }
}
