
h1.page-title {
  text-align: center;
}

aside#TOC {
  background-color: white;
  border-radius: @radius_L;
  padding: 2rem 3rem;
  max-width: fit-content;
  h1 {
    font-size: 3em;
    margin: 2rem 0;
  }
  ul {
    list-style-type: none;
    font-size: 2rem;
    &#main {
      padding-left: 2rem;
    }
  }
}

section#page {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 1rem;
    * {
      text-align: left;
    }

    h2 {
      margin: 6rem 0 2rem 0;
    }

    h3, h4, h5 {
        font-family: 'IBM Plex Mono', monospace;
        color: @cryptpad_color_brand;
    }
    h4 {
        font-size: 2.5rem;
    }
    p {
      padding: 0;
    }
    // p, ul {
    //     font-size: 2rem;
    // }
    table {
        font-size: 1.7rem;
        td {
          padding: .5rem;
        }
    }

    pre {
      background-color: fade(@text-color, 7%);
      border-radius: 1rem;
      padding: 1.5rem;
      font-size: 1.75rem;
    }
}
