---
title: CryptPad for education
description: Dedicated instances for schools, universities, and research
image: /images/instance_edu.png
sector: Education
icon: "graduation-cap"
layout: layouts/pricing_sector
benefits:
  - title: Safe online space
    text: "In their <a href='https://www.hrw.org/StudentsNotProducts'>damning report of education technology</a> Human Rights Watch found that 89% of the 150 products they examined “monitored or could monitor children, in most cases secretly and without the consent of children or their parents”. With CryptPad students can learn without being surveilled and tracked."
  - title: Complete teaching suite
    text: "CryptPad has everything you need to give classes, from text documents to whiteboards, forms, and spreadsheets, all in one secure place."
  - title: Data protection built in
    text: "CryptPad is built to collect as little data as possible, and to protect what it stores with encryption and security measures. There is no premium or add-on to protect data, it’s the default. CryptPad helps you pass GDPR compliance with top honors!"
  - title: Support on call
    text: "CryptPad comes with a built-in private ticket system to manage support requests and assist users. In most cases, a link to the right place in our <a href='https://docs.cryptpad.org/en/user_guide/index.html'>extensive documentation</a> solves the issue. Your administrators have direct contact with our team to resolve any problems quickly."
price: discount
---