---
title: CryptPad for nonprofits
description: Dedicated instances for nonprofits
image: /images/instance_nonprofit.png
sector: Nonprofits
icon: users
layout: layouts/pricing_sector
benefits:
  - title: Protect volunteers and people at-risk
    text: "Marginalized and vulnerable people are the most impacted by the surveillance economy. CryptPad’s end-to-end encryption protects everyone’s privacy and digital rights. Share resources, conduct research, organize a campaign, all without forcing people onto surveillance platforms."
  - title: 100% collaborative
    text: "CryptPad offers many features to facilitate teamwork and collaboration, real-time editing of course but also: contacts, shared folders, team drives, sharing, and granular access control."
  - title: Align your tools with your message
    text: "Whichever cause you are fighting for, we doubt that giant corporations extracting billions of dollars from personal data are a good match for your ideals. Invest in open and secure tools that would still exist in the world you are striving to build."
  - title: Support an open-source project
    text: "CryptPad is fully open-source and freely available. We are funded by public grants and our users, not investors looking to monetize user data and make an exit. Are you receiving donations or grants from the public? When you buy our services you invest in making this project sustainable and help us improve it for everyone."
price: discount
---