---
title: CryptPad for education
description: Dedicated instances for schools, universities, and research
image: /images/instance_edu.png
sector: Education
icon: "fa-graduation-cap"
layout: layouts/pricing_sector
benefits:
  - title: Safe online space
    text: "In their <a href='https://www.hrw.org/StudentsNotProducts'>damning report of education technology</a> Human Rights Watch found that 89% of the 150 products they examined “monitored or could monitor children, in most cases secretly and without the consent of children or their parents”. With CryptPad students can learn without being surveilled and tracked."
  - title: Complete teaching suite
    text: "CryptPad has everything you need to give classes, from text documents to whiteboards, forms, and spreadsheets, all in one secure place."
  - title: Data protection built in
    text: "CryptPad is built to collect as little data as possible, and to protect what it stores with encryption and security measures. There is no premium or add-on to protect data, it’s the default. CyptPad helps you pass GDPR compliance with top honors!"
  - title: Support on call
    text: "CryptPad comes with a built-in private ticket system to manage support requests and assist users. In most cases, a link to the right place in our <a href='https://docs.cryptpad.org/en/user_guide/index.html'>extensive documentation</a> solves the issue. Your administrators have direct contact with our team to resolve any problems quickly."
plans:
  - users: 100
    storage: 200GB
    admin_support: 1
    price_euro_yearly: "3,600"
  - storage: "500GB"
    users: 200
    admin_support: 2
    price_euro_yearly: "7,200"
  - users: 500
    storage: "1TB"
    admin_support: 4
    price_euro_yearly: "18,000"
---


<p>The following pricing is for a managed CryptPad instance for your educational institution.<br>See our <a href="/pricing/">pricing page</a> for all the ways to subscribe.</p>
<p class="pricing-desc">
  <span class="price large">€3</span> per user/month <span class="discount">50% OFF</span> Enterprise pricing
</p>
<p class="price-desc">
  Additional benefit for education: <strong>only staff are counted as users, student accounts are FREE</strong>
</p>


