---
title: CryptPad for enterprise
description: Dedicated instances for businesses of all sizes
image: /images/instance_enterprise.png
sector: Enterprise
icon: fa-briefcase
layout: layouts/pricing_sector
benefits:
  - title: Full-featured collaborative office suite
    text: "CryptPad provides all the features needed for effective collaboration. From a suite of applications (Document, Sheets, Presentation, Kanban, Forms, and more) to team-drives and granular access-control, we have your needs covered."
  - title: Secure your information
    text: "Ransomware attacks, data-leaks, and other security risks are on the rise. Ensure that your business information, and that of your partners/customers, is properly secured with end-to-end encryption."
  - title: An open-source project here to stay
    text: "CryptPad is actively developed by a full-time team of five at XWiki SAS, a company that has been making open-source software for over 15 years."
  - title: A support team you can count on
    text: "Defining your needs, setting up your instance, training your teams, maintaining it over-time &amp; giving support to your users, we are here for you! You can already take a look at <a href='https://docs.cryptpad.fr/en/user_guide/index.html'>our user guide</a> in the official documentation."
price:
    user: "€6"
plans:
  - small:
    users: 100
    storage: 200GB
    admin_support: 1
    price_euro_yearly: "7,200"
  - medium:
    storage: "500GB"
    users: 200
    admin_support: 2
    price_euro_yearly: "14,400"
  - large:
    users: 500
    storage: "1TB"
    admin_support: 4
    price_euro_yearly: "36,000"
---