

{% macro instance(title='', url='', description='', location='') %}
<section class="instance-wrapper">
    <section class="instance" tabindex="0" data-url="{{url}}">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p class="instance-details">
            <span><i data-lucide="link"></i><a tabindex="-1" href="{{url}}" target="_blank">{{url}}</a></span>
            <br>
            <span><i data-lucide="pin"></i> Hosted in {{location}}</span>
            <br>
        </p>
    </section>
</section>
{% endmacro %}

{% macro plan(name="", sector="None", users=0, storage=0, sso="", support_time="", custom_time="", price_euro_yearly=0) %}
<div class="plan-card instance-plan">
    {# {% include "components/xwiki_badge.njk" %} #}
    <h2>{{name}}</h2>
    <ul>
        <li><i aria-hidden="true" data-lucide="users"></i>{{users}} users</li>
        <li><i aria-hidden="true" data-lucide="database"></i>{{storage}} storage</li>
        {% if sso %}<li><i aria-hidden="true" data-lucide="id-card"></i>{{sso}}</li>{% endif %}
        <li><i aria-hidden="true" data-lucide="wrench"></i>Response time<br>{{support_time | safe}}</li>
    </ul>
    <div class="price">
        <div class="medium">€{{price_euro_yearly}}/year</div>
    </div>
    {% include "components/contact_form.njk" %}
</div>
{% endmacro %}