
<button type="button" class="btn primary" onclick="openDialog('dialog-{{name}}-{{sector}}', this)">
    <i class="fa fa-comments"></i> Get in touch
</button>

    <div id="dialog_layer" class="dialogs">
      <div role="dialog"
           id="dialog-{{name}}-{{sector}}"
           aria-labelledby="dialog-{{name}}-{{sector}}_label"
           aria-modal="true"
           class="hidden">
        <h2 id="dialog-{{name}}-{{sector}}_label" class="dialog_label">
            <i class="fa fa-comments"></i> Get in touch
        </h2>
        <form class="contact-form" autocomplete="off" method="post">
            <div class="form-element">
              <label for="org-{{name}}-{{sector}}">Organization</label>
              <input name="org" id="org-{{name}}-{{sector}}" type="text" placeholder="Organization name"/>
              <input type="hidden" name="plan" id="plan" value="{{name}}-{{sector}}" />
            </div>
            <div class="form-element">
                <label for="contact-{{name}}-{{sector}}">Contact</label>
                <input name="contact" id="contact-{{name}}-{{sector}}" type="text" value="" placeholder="Person name" required/>
            </div>
            <div class="form-element">
                <label for="email-{{name}}-{{sector}}">Email address</label>
                <input name="email" id="email-{{name}}-{{sector}}" type="email" value="" placeholder="contact@email.tld" required/>
            </div>
            <div class="form-element">
              <label for="comments-{{name}}-{{sector}}">Please add any specifications or comments</label>
              <textarea autocomplete="off" name="comments" name="comments" id="comments-{{name}}-{{sector}}" rows="10">{{name}} server&#10;{{sector}} pricing</textarea>
            </div>

            <div class="dialog_form_actions">
                <button class="btn " type="button" onclick="closeDialog(this)">
                  Cancel
                </button>
                <button class="btn primary">Send</button>
              </div>
        </form>
      </div>
    </div>
