
<button type="button" class="btn primary" onclick="openDialog('dialog1', this)">
    <i class="fa fa-comments"></i> Get in touch
    </button>
    <div id="dialog_layer" class="dialogs">
      <div role="dialog"
           id="dialog1" {#  XXX all buttons call the same dialog #}
           aria-labelledby="dialog1_label"
           aria-modal="true"
           class="hidden">
        <h2 id="dialog1_label" class="dialog_label">
            <i class="fa fa-comments"></i> Get in touch
        </h2>
        <form action="http://www.foo.com" method="get">
            <div class="form-element">
              <label for="org">Organization</label>
              <input name="org" id="org" type="text" value="" placeholder="Organization name"/>
            </div>
            <div class="form-element">
                <label for="contact">Contact</label>
                <input name="contact" id="contact" type="text" value="" placeholder="Person name"/>
            </div>
            <div class="form-element">
                <label for="email">Email address</label>
                <input name="email" id="email" type="email" value="" placeholder="contact@email.tld"/>
            </div>
            <div class="form-element">
              <label for="comments">Please add any specifications or comments</label>
              <textarea name="comments" name="comments" id="comments" value="" rows="10" placeholder="sector: {{sector}}&#10;users: {{users}}"></textarea>
            </div>

            <div class="dialog_form_actions">
                <button class="btn " type="button" onclick="closeDialog(this)">
                  Cancel
                </button>
                <button class="btn primary">Send</button>
              </div>
        </form>
      </div>
    </div>
