<footer>
    <div class="logo">
        <a href="/"><img src="/images/CryptPad_logo_text.svg" alt="return to homepage"></a>
    </div>

    <div class="link-col wide">
        <ul>
            <li>
                <a href="https://opencollective.com/cryptpad/contribute" class="highlight">
                    <i data-lucide="hand-coins" class="lucide-icon" aria-hidden="true"></i>Donate on OpenCollective
                </a>
            </li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                <a href="/about/">
                    <i data-lucide="help-circle" class="lucide-icon" aria-hidden="true"></i>About CryptPad
                </a>
            </li>
            <li>
                <a href="https://cryptpad.fr">
                    <i data-lucide="flag" class="lucide-icon" aria-hidden="true"></i>Flagship instance
                </a>
            </li>
            <li>
                <a href="/instances/">
                    <i data-lucide="list" class="lucide-icon" aria-hidden="true"></i>Public instances
                </a>
            </li>
            <li>
                <a href="https://docs.cryptpad.org">
                    <i data-lucide="book" class="lucide-icon" aria-hidden="true"></i>Documentation
                </a>
            </li>
            <li>
                <a href="https://cryptpad.fr/kanban/#/2/kanban/view/PLM0C3tFWvYhd+EPzXrbT+NxB76Z5DtZhAA5W5hG9wo/">
                    <i data-lucide="binoculars" class="lucide-icon" aria-hidden="true"></i>Roadmap
                </a>
            </li>
            <li>
                <a href="/jobs/">
                    <i data-lucide="briefcase" class="lucide-icon" aria-hidden="true"></i>Jobs
                </a>
            </li>
            <li>
                <a href="https://github.com/cryptpad/cryptpad">
                    <i data-lucide="github" class="lucide-icon" aria-hidden="true"></i>Source code
                </a>
            </li>
            <li>
                <a href="/contact/">
                    <i data-lucide="mail" class="lucide-icon" aria-hidden="true"></i>Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="link-col wide">
        <ul>
            <li>
                <a href="/pricing/" class="highlight">
                    <i data-lucide="ticket" class="lucide-icon" aria-hidden="true"></i>Pricing
                </a>
            </li>
            <li>
                <a href="/try-cloud/" class="highlight">
                    <i data-lucide="cloud" class="lucide-icon" aria-hidden="true"></i>Launch Demo instance
                </a>
            </li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                Use-cases
            </li>
            <li>
                <a href="/use-case/enterprise/">
                    <i data-lucide="briefcase" class="lucide-icon" aria-hidden="true"></i>Enterprise
                </a>
            </li>
            <li>
                <a href="/use-case/nonprofit/">
                    <i data-lucide="users" class="lucide-icon" aria-hidden="true"></i>Nonprofit
                </a>
            </li>
            <li>
                <a href="/use-case/education/">
                    <i data-lucide="graduation-cap" class="lucide-icon" aria-hidden="true"></i>Education
                </a>
            </li>
        </ul>
    </div>
    <div class="link-col">
        <ul>
            <li aria-hidden="true">&nbsp;</li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                <a href="https://blog.cryptpad.org">
                    <i data-lucide="newspaper" class="lucide-icon" aria-hidden="true"></i>Blog
                </a>
            </li>
            <li>
                <a href="https://forum.cryptpad.org">
                    <i data-lucide="megaphone" class="lucide-icon" aria-hidden="true"></i>Forum
                </a>
            </li>
            <li>
                <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com">
                    <i aria-hidden="true" class="fa fa-matrix-org"></i>Chat (Matrix)
                </a>
            </li>
            <li>
                <a rel="me" href="https://fosstodon.org/@cryptpad">
                    <i aria-hidden="true" class="fa fa-mastodon"></i>Mastodon
                </a>
            </li>
            <li>
                <a href="https://peertube.xwiki.com/c/cryptpad_channel/videos">
                    <i aria-hidden="true" class="fa fa-peertube"></i>Peertube
                </a>
            </li>
            <li>
                <a href="https://pixelfed.social/cryptpad_design">
                    <i aria-hidden="true" class="fa fa-pixelfed"></i>Pixelfed
                </a>
            </li>
            <li>
                <a href="https://uptime.cryptpad.org/status/cryptpad">
                    <i data-lucide="fire-extinguisher" class="lucide-icon" aria-hidden="true"></i>Status page
                </a>
            </li>
        </ul>
    </div>
</footer>
