<footer>
    <div class="logo">
        <a href="/"><img src="/images/CryptPad_logo_text.svg" alt="return to homepage"></a>
    </div>

    <div class="link-col wide">
        <ul>
            <li>
                <a href="https://opencollective.com/cryptpad/contribute" class="highlight">
                    <i aria-hidden="true" class="fa fa-open-collective"></i>Donate on OpenCollective
                </a>
            </li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                <a href="/about/">
                    <i aria-hidden="true" class="fa fa-question-circle-o"></i>About CryptPad
                </a>
            </li>
            <li>
                <a href="https://cryptpad.fr">
                    <i aria-hidden="true" class="fa fa-flag"></i>Flagship instance
                </a>
            </li>
            <li>
                <a href="/instances/">
                    <i aria-hidden="true" class="fa fa-list-ul"></i>Public instances
                </a>
            </li>
            <li>
                <a href="https://docs.cryptpad.org">
                    <i aria-hidden="true" class="fa fa-book"></i>Documentation
                </a>
            </li>
            <li>
                <a href="https://cryptpad.fr/kanban/#/2/kanban/view/PLM0C3tFWvYhd+EPzXrbT+NxB76Z5DtZhAA5W5hG9wo/">
                    <i aria-hidden="true" class="fa fa-binoculars"></i>Roadmap
                </a>
            </li>
            <li>
                <a href="/jobs/">
                    <i aria-hidden="true" class="fa fa-briefcase"></i>Jobs
                </a>
            </li>
            <li>
                <a href="https://github.com/cryptpad/cryptpad">
                    <i aria-hidden="true" class="fa fa-github"></i>Source code
                </a>
            </li>
        </ul>
    </div>
    <div class="link-col wide">
        <ul>
            <li>
                <a href="/pricing/" class="highlight">
                    <i aria-hidden="true" class="fa fa-ticket"></i>Pricing
                </a>
            </li>
            <li>
                <a href="/cloud-demo/" class="highlight">
                    <i aria-hidden="true" class="fa fa-cloud"></i>Demo instance
                </a>
            </li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                Use-cases
            </li>
            <li>
                <a href="/use-case/enterprise/">
                    <i aria-hidden="true" class="fa fa-briefcase"></i>Enterprise
                </a>
            </li>
            <li>
                <a href="/use-case/nonprofit/">
                    <i aria-hidden="true" class="fa fa-users"></i>Nonprofit
                </a>
            </li>
            <li>
                <a href="/use-case/education/">
                    <i aria-hidden="true" class="fa fa-graduation-cap"></i>Education
                </a>
            </li>
        </ul>
    </div>
    <div class="link-col">
        <ul>
            <li aria-hidden="true">&nbsp;</li>
            <li aria-hidden="true">&nbsp;</li>
            <li>
                <a href="https://blog.cryptpad.org">
                    <i aria-hidden="true" class="fa fa-newspaper-o"></i>Blog
                </a>
            </li>
            <li>
                <a href="https://forum.cryptpad.org">
                    <i aria-hidden="true" class="fa fa-bullhorn"></i>Forum
                </a>
            </li>
            <li>
                <a href="https://matrix.to/#/#cryptpad:matrix.xwiki.com">
                    <i aria-hidden="true" class="fa fa-matrix-org"></i>Chat (Matrix)
                </a>
            </li>
            <li>
                <a rel="me" href="https://fosstodon.org/@cryptpad">
                    <i aria-hidden="true" class="fa fa-mastodon"></i>Mastodon
                </a>
            </li>
            <li>
                <a href="https://peertube.xwiki.com/c/cryptpad_channel/videos">
                    <i aria-hidden="true" class="fa fa-peertube"></i>Peertube
                </a>
            </li>
            <li>
                <a href="https://pixelfed.social/cryptpad_design">
                    <i aria-hidden="true" class="fa fa-pixelfed"></i>Pixelfed
                </a>
            </li>
            <li>
                <a href="https://uptime.cryptpad.org/status/cryptpad">
                    <i aria-hidden="true" class="fa fa-fire-extinguisher"></i>Status page
                </a>
            </li>
        </ul>
    </div>
</footer>
