<div class="your-own-text">
    <h2>Your own CryptPad instance</h2>
    <ul class="icon-list">
        <li><i class="fa fa-home" aria-hidden="true"></i>Your own domain</li>
        <li><i class="fa fa-paint-brush" aria-hidden="true"></i>Customizations such as logo and colors</li>
        {# <li><i class="fa fa-lock"></i>Full control over where encrypted data are stored</li> #}
        <li><i class="fa fa-hdd-o" aria-hidden="true"></i>Control storage quotas and upload limits</li>
        {# <li><i class="fa fa-handshake-o" aria-hidden="true"></i>Single Sign On integration (coming 2023)</li> #}
    </ul>
    <p>XWiki SAS services:</p>
    <ul class="icon-list">
        <li><i class="fa fa-bar-chart" aria-hidden="true"></i>Fully managed instance incl. backups</li>
        <li><i class="fa fa-sun" aria-hidden="true"></i>Updates with new features</li>
        <li><i class="fa fa-life-ring" aria-hidden="true"></i>Support for your administrators</li>
    </ul>
</div>