<ul>
    {% if '/pricing' not in page.url %}
    <li>
        <a href="/pricing" class="btn">
            <i data-lucide="ticket" class="lucide-icon" aria-hidden="true"></i>
            <span>Pricing</span>
        </a>
    </li>
    {% endif %}
    <li>
        <a href="https://docs.cryptpad.org/" class="btn">
            <i data-lucide="book" class="lucide-icon" aria-hidden="true"></i>
            <span>Documentation</span>
        </a>
    </li>
    {% if '/about' not in page.url %}
        <li>
            <a href="/about/" class="btn">
                <i data-lucide="help-circle" class="lucide-icon" aria-hidden="true"></i>
                <span>About</span>
            </a>
        </li>
    {% endif %}
    <li>
        <a href="https://opencollective.com/cryptpad/contribute/" class="btn">
            <i data-lucide="hand-coins" class="lucide-icon" aria-hidden="true"></i>
            <span>Donate</span>
        </a>
    </li>
</ul>
