
{% macro carousel(sector="") %}
<script src="/scripts/carousel-prev-next.js?ver={{cache.buster}}"></script>

{% set testimonials = testimonials.responses | shuffle %}

<noscript>
  <style type="text/css">
      #myCarousel {display:none;}
  </style>
  <div class="card-page">
    {% for testimonial in testimonials %}
      {% if loop.index0 < 4 %}
          <div class="card">{% include "components/testimonial_item.njk" %}</div>
      {% endif %}
    {% endfor %}
  </div>
</noscript>

<section id="myCarousel"
         class="carousel"
         aria-roledescription="carousel"
         aria-label="Testimonials">
  <div class="carousel-inner">
    <div class="controls">
      <button type="button"
              class="rotation pause"
              aria-label="Stop automatic slide show">
        <span class="background">
        <i data-lucide="pause"></i>
        </span>
      </button>
      <button type="button"
              class="previous"
              aria-controls="myCarousel-items"
              aria-label="Previous Slide">
        <span class="background">
        <i data-lucide="arrow-left"></i>
        </span>
      </button>
      <button type="button"
              class="next"
              aria-controls="myCarousel-items"
              aria-label="Next Slide">
        <span class="background">
        <i data-lucide="arrow-right"></i>
        </span>
      </button>
    </div>
    <div id="myCarousel-items"
         class="carousel-items"
         aria-live="off">
      {% for testimonial in testimonials %}
        {% if (sector == "") or (testimonial.sector == sector) %}
          <div class="carousel-item active"
              role="group"
              aria-roledescription="slide">
            {% include "components/testimonial_item.njk" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endmacro %}

