{% set newline = joiner("<br>" | safe) %}
{% if banner.visible %}
<div class="top-banner" role="note">
    {% for line in banner.message %}
	{{ newline() }} {{ line | safe }}
    {% endfor %}
</div>
{% endif %}
