html, body, div, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
}

.full, .half {
    box-sizing: border-box;
    border: 1px solid transparent;
}
:is(p, blockquote).inline img {
    display: inline-block;
    max-width: 20%;
}

:is(.full, .half) :is(h1, h2, h3, p, ul, blockquote) {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

:is(h1, h2, h3) > a {
    color: black; /* XXX */
    text-decoration: none;

}
:is(h1, h2, h3) > a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.2em;
    padding: 10px;
}


div:is(.full, .half):nth-child(odd) {
    background: #eee2ee;
}
div:is(.full, .half):nth-child(even) {
    background-color: #eee;
}

:is(.full, .half) :is(h1, h2, h3) {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.full { min-height: 100vh; }
.half { min-height: 50vh; }
blockquote {
    border-left: 2px solid grey;
    margin: 30px;
    padding: 15px;
    margin-top: 15px;
}

img  {
    max-width: 100%;
}

.blue { background: blue; }
.red { background: red; }

