---
title: Diagram
description: CryptPad Diagram collanborative whiteboard, flowchart, or mind-map. Real-time collaboration and end-to-end encryption.
long_description: CryptPad Diagram is the app for collaborative mind-mapping, flowcharts, whiteboard, and more.
dependency: Diagram is powered by [DrawIO](https://www.drawio.com/)
image: /images/app-diagram-preview.png
icon: cptools-diagram
shortname: diagram
features:
    - title: Versatile visual collaboration
      text: Collaborate on anything from a hand-drawn brainstorm to IT infrastructure using extensive symbol libraries
    - title: Fully private
      text: Your diagrams are encrypted on your device and seen only by people you collaborate with.
    - title: Feature 03
      text: Sed tincidunt facilisis erat quis vulputate. Nullam vel facilisis lacus. Proin cursus massa nisi, eget tincidunt lectus vehicula at. Duis auctor feugiat sapien, sed feugiat urna maximus vitae.
    - title: Feature 04
      text: Donec volutpat ligula sed neque pulvinar ultricies porttitor sed quam. Sed aliquet libero sed purus fringilla blandit.
---