---
title: Form
description: CryptPad Form, a privacy app for surveys, polls, and more. End-to-end encrypted collaborative forms.
long_description: CryptPad Forms is the app for all your surveys, sign-ups, research questionaires, meeting plannings, quizzes, and so on.
dependency: Form is developed from scratch by the CryptPad team
image: /images/app-form-preview.png
icon: cptools-poll
shortname: form
features:
    - title: Keep research data safe
      text: Conduct research without compromising participant's data. All responses are end-to-end encrypted like all data on CryptPad.
    - title: Export to Sheets
      text: Easily export results to a spreadsheet or JSON file for in-depth analysis.
---