---
title: Kanban
description: CryptPad kanban, private boards for project planning and todo lists
long_description: CryptPad Kanban is the ideal way to organise tasks, track project progress, ...
dependency: Kanban is developed from scratch by the CryptPad team
image: /images/app-kanban-preview.png
icon: cptools-kanban
shortname: kanban
features:
    - title: Organize team tasks
      text: Whether following an Agile methodology, kanbans are great for sorting and oganizing tasks when collaborating. Easily keep track on the whole team status
    - title: Rich content in cards
      text: Full blown markdown editor, add lists, text formatting, even images
---