{% extends "layouts/main.njk" %}

{% block content %}
<section class="app-title" id="try-cryptpad">
    <h1><i aria-hidden="true" data-lucide="{{icon}}" class="lucide-icon app-logo app-{{shortname}}"></i> {{title}}</h1>
    <p class="dependency">
        powered by <a href="{{dependency_link}}">{{dependency_title}}</a>
    </p>
    <p class="left-aligned">{{description}}</p>
    <a class="fake-button app-{{shortname}}" href="https://cryptpad.fr/{{shortname}}/">
        Try {{title}}<i data-lucide="arrow-right" class="lucide-icon" aria-hidden="true"></i></a>
    <!--<p><a href="https://docs.cryptpad.org/en/user_guide/apps/{{shortname}}.html">View the {{title}} documentation</a></p>-->
</section>


{% if image %}
<section class="app-preview-image">
    <img src="{{image}}" alt="preview of the {{title}} application">
</section>
{% endif %}

<section class="arguments">
    <h2>Main Features</h2>
    <div class="items">
        {% for feature in features %}
            <div class="item">
                <i data-lucide="{{feature.icon}}" class="lucide-icon"></i>
                <h3>{{ feature.title }}</h3>
                <p>{{ feature.text | safe}}</p>
            </div>
        {% endfor %}
    </div>
</section>

<section class="arguments">
    <h2>Benefits of CryptPad</h2>
    <div class="items">
        {% for benefit in benefits %}
            <div class="item">
                <i data-lucide="check" class="lucide-icon"></i>
                <h3>{{ benefit.title }}</h3>
                <p>{{ benefit.text | safe}}</p>
            </div>
        {% endfor %}
    </div>
</section>

<section class="carousel">
    <h2>Use Cases</h2>
</section>

<section class="subscription">
    <h2>{{sub_title}}</h2>
    <p>{{sub_text}}</p>
    <a class="fake-button " href="https://cryptpad.fr/accounts/">
        <i data-lucide="ticket" class="lucide-icon" aria-hidden="true"></i>
        Subscribe on cryptpad.fr
    </a>
</section>

<section>
    <h2>{{more_header}}</h2>
    <p>{{more_text}}</p>
</section>


<section>
    <p>Other apps:</p>
    <p class="other-apps">
        {% for app in collections.apps|sort(attribute="data.title") %}
            {% if app.data.title != title %}
                <a href="{{app.url}}">
                    <i aria-hidden="true" data-lucide="{{app.data.icon}}" class="lucide-icon app-{{app.data.shortname}}"></i>
                    {{app.data.title}}
                </a>
            {% endif %}
        {% endfor %}
    </p>
</section>

{% endblock %}
