<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />

    <!-- HTML Meta Tags -->
    <title>{% if title %}{{title}} - {% endif %}{{site.title}}</title>


    <meta name="description" content="{{description or site.description}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title or site.title}}">
    <meta property="og:description" content="{{description or site.description}}">
    <meta property="og:image" content="{{site.url}}{{image or site.image}}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{site.url}}">
    <meta property="twitter:url" content="{{site.url}}{{page.url}}">
    <meta name="twitter:title" content="{{title or site.title}}">
    <meta name="twitter:description" content="{{description or site.description}}">
    <meta name="twitter:image" content="{{site.url}}{{image or site.image}}">

    <meta name="robots" content="index, archive" />
    <meta name="canonical" href="{{site.url}}{{page.url}}" />

    <link type="image/png" rel="icon" href="{{site.favicon}}" />
    <link rel="stylesheet" href="/style.css?ver={{cache.buster}}">
    <script src="/lucide.js"></script>
    <script src="/index.js?ver={{cache.buster}}"></script>
</head>

<body>
    {# Banner at the top of all pages for announcements #}
    {# <div class="top-banner" role="note">
        📣 Upcoming Webinar: <a href='https://xwiki.com/en/webinars/CryptPad-Enterprise'>CryptPad Enterprise: The encrypted workspace teams actually want to use</a><br>
        🗓️ 26th March - 4:00pm CET <a href='https://xwiki.com/en/webinars/CryptPad-Enterprise'>Register now!</a> Also, you can <a href='https://cryptpad.org/try-cloud/'>Try CryptPad Cloud</a> at any time.
    </div> #}
    <nav>
        <div class="logo">
            <a href="/" aria-label="Return to homepage">
                <img src="/images/CryptPad_logo_text_horizontal.svg" alt="CryptPad logo">
            </a>
        </div>
    <!--start of hamburger menu -->
    <button id="hamburger" class="hamburger" aria-label="Show Navigation Menu" aria-expanded="false" tabindex="0"><i data-lucide="menu"></i></button>
    <div id="dropDown">
    {% include "components/navButtons.njk" %}
    </div>
    <!--end of hamburger menu and start of navbuttons for large screens -->
    <div class="navButtons">
    {% include "components/navButtons.njk" %}
    </div>
    </nav>

    {% block content %}
        {{ content | safe }}
    {% endblock %}

    {% include "components/footer.njk" %}
</body>