{% extends "layouts/main.njk" %}

{% import "components/cards.njk" as cards %}

{% block content %}

    <section class="half">
        <h1>CryptPad for <span class="sector-title">
            <i aria-hidden="true" class="fa {{icon}}"></i> {{sector}}
        </span></h1>
        <section class="your-own">
            {% include "components/instance_arguments.njk" %}
            <div class="your-own-preview"><img src="{{ image }}" alt=""></div>
    </section>

    <section class="arguments">
        <h2>Benefits for {{ sector }}</h2>
        <div class="items">
            {% for benefit in benefits %}
                <div class="item">
                    <h3>{{ benefit.title }}</h3>
                    <p>{{ benefit.text | safe}}</p>
                </div>
            {% endfor %}
        </div>
    </section>

    <script src="/scripts/dialog.js"></script>
    <script src="/scripts/utils.js"></script>

    <section class="pricing">
      <h2>Pricing</h2>

        {{ content | safe }}

        <div class="plan-cards-container">
            {% for plan in plans %}
                {{ cards.plan(
                    sector = sector,
                    users = plan.users,
                    storage = plan.storage,
                    admin_support = plan.admin_support,
                    price_euro_yearly = plan.price_euro_yearly
                )}}
            {% endfor %}
        </div>

    </section>

{% endblock %}