.wrapper {
    //max-width: 95rem;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    .item {
        width: 100%;
        padding: 2rem;
        &.text {
            align-self: center;
        }
    }
    > div {
        flex: 33%;
    }
}

@media screen and (max-width: @breakpoint) {
    h1, h2, h3 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .wrapper {
        flex-flow: column;
    }
    .footer-container {
        flex-flow: column;
        width: 100% !important;
        justify-content: left;
        * {
            //border: 1px solid red;
        }
        ul {
            min-width: 100% !important;
            padding: 0;
            &:nth-child(2) {
                display: none;
            }
            text-align: center;
            li {
                padding: 0.5rem;
            }
        }
    }
}


