body.jobs {
    section {
        ul {
            font-size: 2.1rem;
        }
        p {
            font-size: 2.2rem;
        }
    }

    main#roles {
        display: flex;
        justify-content: center;
        flex-direction: column;
        section.role {

            // XXX spacing above the heading is junk
            // XXX don't highlight full block on hover

            width: 100%;
            margin-bottom: 30px;
            border-radius: 10px;
            padding-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            &:hover, &:focus {
                background-color: @cryptpad_color_white;
            }
        }
    }
}
