@import './styles/font.less';

@main-bg: #eee2ee;
@alt-bg: #eee;
@text-color: black;

@main-bg-dark: #222;
@alt-bg-dark: #333;
@text-color-dark: white;

@link-color: blue;
@link-color-dark: CornflowerBlue;

html, body, div, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
}

div:is(.full, .half) {
    box-sizing: border-box;
    border: 1px solid transparent;

    :is(h1, h2, h3) {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: 'IBM Plex Mono', Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    :is(h1, h2, h3, p, ul, blockquote) {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
    &:nth-child(odd) {
        background: @main-bg;
    }
    &:nth-child(even) {
        background: @alt-bg;
    }
}
.full { min-height: 100vh; }
.half { min-height: 50vh; }

h1, h2, h3 {
    & > a {
        color: @text-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @media screen and (prefers-color-scheme: dark) {
        & > a {
            color: @text-color-dark !important;
        }
    }
}

:is(p, blockquote).inline img {
    display: inline-block;
    max-width: 20%;
}

p {
    line-height: 1.2em;
    padding: 10px;
}

blockquote {
    border-left: 2px solid grey;
    margin: 30px;
    padding: 15px;
    margin-top: 15px;
}

img  {
    max-width: 100%;
}

a {
    color: @link-color;
}

@media screen and (prefers-color-scheme: dark) {
    html, body, div, h1 {
        color: @text-color-dark;
    }
    div:is(.full, .half) {
        &:nth-child(odd) {
            background: @main-bg-dark;
        }
        &:nth-child(even) {
            background: @alt-bg-dark;
        }
    }

    a {
        color: @link-color-dark !important;
    }

    h1, h2, h3 {
        & > a {
            color: @text-color-dark;
        }
    }
}

