@import './styles/font.less';;
@import './styles/grid.less';

@cryptpad_color_grey_200: #EEEEEE;
@cryptpad_color_grey_250: #E7E7E7;
@cryptpad_color_grey_300: #E0E0E0;
@cryptpad_color_grey_600: #757575;
@cryptpad_color_grey_700: #616161;
@cryptpad_color_grey_800: #424242;
@cryptpad_color_grey_900: #212121;
@cryptpad_color_grey_950: #121212;

@cryptpad_color_brand: #0087FF;
@cryptpad_color_brand_200: lighten(@cryptpad_color_brand, 20%);
@cryptpad_color_brand_300: lighten(@cryptpad_color_brand, 30%);

@main-bg: @cryptpad_color_grey_200;
@alt-bg: @cryptpad_color_grey_250;
@text-color: @cryptpad_color_grey_800;

// dark mode isn't going live in the first version
@main-bg-dark: @cryptpad_color_grey_900;
@alt-bg-dark: @cryptpad_color_grey_800;
@text-color-dark: @cryptpad_color_grey_200;

@link-color: @cryptpad_color_brand;
@link-color-dark: @cryptpad_color_brand_200;

@breakpoint: 1000px;

@import './styles/thermometer.less';
//@import './styles/testimonials.less';
//@import './styles/enterprise.less';
@import './styles/hero.less';
@import './styles/footer.less';
@import './styles/nav.less';

html {
    font-size: 8px; // for rem units, makes responsive sizes easier
}

/*
@media screen and (max-width: @breakpoint) {
    html {
        font-size: 8px;
    }
}
*/

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    background-color: @main-bg;
}

html, div, h1, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Open Sans', Verdana, Geneva, sans-serif;
    color: @text-color;
}


section {
    box-sizing: border-box;
    border: 1px solid transparent;

    :is(h1, h2, h3) {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: 'IBM Plex Mono', monospace;
    }
    :is(h1, h2, h3, p, ul, blockquote /*, div.contain */) {
        max-width: 50em;
        margin-left: auto;
        margin-right: auto;
    }
}
.full { min-height: 100vh; }
.half { min-height: 50vh; }
.quarter { min-height: 25vh; }

h1, h2 {
    font-family: "IBM Plex Mono", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal !important;
}

h1 {
    font-size: 7rem;
    color: @link-color;
}
h2 {
    font-size: 3.7rem;
}
h3 {
    font-size: 2rem;
}

// paragraph
p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    padding: 10px;
}
a:hover {
    // I like this for a hover effect
    // but feel free to use something else if you hate it
    text-decoration: none;
}
h1, h2, h3 {
    & > a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.twenty {
    max-width: 20%;
}
.thirty {
    max-width: 30%;
}

.fifty {
    max-width: 50%;
}

.left {
    float: left;
    margin-right: 15px;
}
.right {
    float: right;
    margin-left: 15px;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

img  {
    max-width: 100%;
    &.contrast {
        background: @main-bg;
    }
}
a {
    color: @link-color;
}

.bordered () {
    box-shadow: 5px 5px @cryptpad_color_grey_600;
    border: 1px solid @cryptpad_color_grey_700;
}

.shadow() {
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}

.rounded () {
    border-radius: 10px;
}

section.instance {
    //min-height: ~"calc(50vh - 15px)";
    margin: 25px 10px 50px 10px;
    padding: 15px;
    background-color: white;
    .shadow();
    .rounded();
    h2 {
        margin-top: 0px;
        color: @cryptpad_color_brand;
    }
    p {
        padding: 0px;
        i {
            margin-right: 10px;
        }
        &.instance-details {
            color: @cryptpad_color_grey_600;
        }
    }
    &:hover{
        background-color: lighten(@cryptpad_color_brand, 45%);
    }
}

div.contain {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    //text-align: center;
    justify-content: space-around;
    div, section {
        &.card {
            //fleg: 0 0 8rem;
            margin: 10px;

            .bordered();
            text-align: center;
            width: ~"calc(50% - 30px)"; //35rem; //25vw;
            min-width: 35rem;
            .rounded();
            b, p, i {
                font-size: 2rem;
            }
            &.testimonial {
                text-align: left !important;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    margin: 5px;
                    width: 90%;
                }
                p i {
                    //margin-left: 3rem;
                }
                .text {
                    flex-grow: 1;
                }
                .name {
                    justify-self: left;
                    color: grey;
                }
                .org {
                    margin-top: -2rem;
                }
                .name, .org {
                    width: 80%;
                }
            }
        }
    }
}

section:first-child ul {
    font-size: 2rem;
}

section[data-url] {
    cursor: pointer;
}

/*
@media screen and (prefers-color-scheme: dark) {
    html, body, div, section {
        color: @text-color-dark;
        background: @main-bg-dark;
    }
    a:not(h1, .fake-button) {
        color: @link-color-dark  !important;
    }
}
*/
