
.sector {
    display: inline-block;
    background-color: @cryptpad_color_white;
    font-size: 0.8em;
    padding: 0.3rem 1.5rem;
    color: @cryptpad_color_grey_900;
    border-radius: @radius_L;
    transform: rotate(-5deg);
    .shadow();
}

section.your-own, section.arguments {
    margin-top: 15rem;
}

.your-own {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.75fr 1fr;
    grid-gap: 3rem;
    .your-own-text {
        ul.icon-list {
            columns: 1;
        }
    }
    .your-own-preview {
        img {
            border-radius: @radius_L;
            .shadow();
        }
    }
}

.arguments {
    h2 {
        margin-bottom: 2rem;
    }
    .items {
            display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        .item {
            background-color: white;
            border-radius: @radius_L;
            height: fit-content;
            padding: 2rem;
            .shadow();
            h3 {
                margin: 2rem auto;
            }
        }
    }
}